<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <script scr="angular.min.js"></script>
    <script scr="app.js"></script>
    <script scr="jquery-3.1.0.min.js"></script>
  </head>
  <body>
    <div class="container">

      <h1>Narrow Down Your Chinese Menu Choice</h1>
      <div class="form-group">

    <div ng-app="NarrowItDownApp" ng-controller="NarrowItDownController as ctrl">
      <label for="searchTerm"> ---- Search: </label>
      <input type="text" id="searchTerm" placeholder="search term" ng-model="ctrl.searchTerm">
      <button ng-click="ctrl.narrowItDown()">Narrow It Down For Me!</button>
    </div>
      </div>
      <found-items found-items="...." on-remove="...."></found-items>

    </div>


  </body>
</html>
